<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/head :: cabeza('Tarjeta de Crédito')}"/>
    <body>
        <nav th:replace="~{fragments/navs :: barra_navegacion}"></nav>
        <div class="container ">
            <div class="form-tarjeta">
                <div class="credit-card" id="card">
                    <div class="card-front">
                        <div class="branding">
                            <img src="/img/chip.png" class="chip-img"/>
                            <img id="logo-tarjeta-front" class="visa-logo" />
                        </div>
                        <div class="card-number">
                            <div>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                            </div>
                            <div>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                            </div>
                            <div>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                            </div>
                            <div>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                                <span class="card-number-display">_</span>
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <span>Card Holder</span>
                                <span id="card-holder-name"></span>
                            </div>
                            <div>
                                <span>Expires</span>
                                <span id="validity">06/28</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="black-strip"></div>
                        <div class="white-strip">
                            <span>CVV</span>
                            <div id="cvv-display"></div>
                        </div>
                        <img id="logo-tarjeta-back" class="visa-logo" />
                    </div>
                </div>
                <form id="form" action="/cliente/nueva-tarjeta" method="post" th:object="${tarjeta}">

                    <label for="card-number" th:text="#{etiqueta.numeroTarjeta}">Número Tarjeta</label>
                    <input type="text" id="card-number" placeholder="1234123412341234" th:field="*{numeroTarjeta}"/>
                    <div class="error" th:if="${#fields.hasErrors('numeroTarjeta')}" th:errors="*{numeroTarjeta}"></div>
                    <label for="tipo_tarjeta" th:text="#{etiqueta.tipoTarjeta}"></label>
                    <select id="tipo_tarjeta" th:field="*{tipoTarjetaCredito}">
                        <option th:each="tipo: ${listaTiposTarjeta}" th:text="${tipo.tipoTarjeta}" th:value="${tipo.id}" th:data-logo="${tipo.logo}"/>
                    </select>

                    <div class="date-cvv">
                        <div>
                            <label for="fechaVencimiento" th:text="#{etiqueta.fechaVencimiento}">Expires On:</label>
                            <input type="text" id="validity-input" th:field="*{fechaVencimiento}"/>
                            <div class="error" th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}"></div>
                        </div>
                        <div>
                            <label for="cvv">CVV:</label>
                            <input type="text" id="cvv" placeholder="***"  th:field="*{cvv}"/>
                            <div class="error" th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}"></div>
                        </div>
                    </div>
                    <div th:class="predeterminada">
                        <label for="predeterminada" th:text="#{etiqueta.predeterminada}"></label>
                        <input type="checkbox" id="predeterminada" th:field="*{predeterminada}"/>
                    </div>
                    <div class="btn-container">
                        <input type="submit" value="Submit" id="submit-btn" class="btn-add-card"/>
                    </div>
                </form>
            </div>
        </div>

        <footer th:replace="~{fragments/footer :: pie_pagina}"/>
        <script type="text/javascript" th:src="@{/js/tarjeta.js}"></script>
    </body>
</html>