<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: cabeza(${titulo})}"/>
    <body>
        <nav th:replace="~{fragments/navs :: barra_navegacion}"></nav>
        <form th:action="paso__${paso}__" method="post">
            <div th:replace="~{fragments/forms :: login__${paso}__}"></div>
            <input type="submit" value="Enviar"/>
            <input type="reset" value="Restablecer"/>
            <input type="button" value="Vaciar Formulario" onclick="vaciarFormulario()"/>
        </form>
        <footer th:replace="~{fragments/footer :: pie_pagina}"/>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </body>
</html>