<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: cabeza(${titulo})}"/>
    <body>
        <nav th:replace="~{fragments/navs :: barra_navegacion}"></nav>
        <div class="container" id="container">
            <div class="form-container login-container">
                <div class="img-container"></div>
                <form id="form" th:action="paso__${paso}__" method="post">
                    <p th:if="${errorClave}" class="error" th:text="${errorClave}"></p>
                    <p th:if="${errorUsuario}" class="error" th:text="${errorUsuario}"></p>
                    <div th:replace="~{fragments/forms :: login__${paso}__}"></div>
                    <div class="button-container">
                        <input type="submit" class="btn" value="Enviar"/>
                        <input type="reset" class="btn" value="Restablecer"/>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="~{fragments/footer :: pie_pagina}"/>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
        <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    </body>
</html>