<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departamentos</title>
    <link rel="stylesheet" href="/css/listadoDepartamentos.css">
    <script src="/js/listado_ajax.js" defer></script>
</head>
<body>
<!-- header:
- Con un campo de texto y un boton para buscar la entidad a listar
- Con un botón para
-->
<header>
    <input type="text" id="buscador-entidad" placeholder="Buscar">
    <button id="buscar-entidad">Buscar</button>
</header>
<h1 th:text="${entity_name}"> </h1>
<main id="main">
<!--    Aquí, meter botón de agregar nuevo registro a la entidad seleccionada cada vez que se liste algo -->
<!--    Aquí, una barra de busqueda para filtrar por campo onkeyup -->
<!--    Aquí, la tabla listado de la entidad seleccionada-->

</main>

</body>
</html>