<!DOCTYPE html>
<html>
<body>

<h2>Formulario de Producto</h2>

<form id="productoForm" enctype="multipart/form-data">
    Código: <input type="text" id="codigo"><br>
    Modelo: <input type="text" id="modelo"><br>
    Marca: <input type="text" id="marca"><br>
    Precio: <input type="text" id="precio"><br>
    Descripción: <input type="text" id="descripcion"><br>
    Cantidad en almacen: <input type="text" id="cantidad_almacen"><br>
    Es novedad: <input type="checkbox" id="esNovedad"><br>
</form>
<button form="productoForm" type="button" onclick="addCampo()">Añadir campo</button>
<input form="productoForm" type="submit" value="Enviar">
Imágenes: <input form="productoForm" type="file" id="imagenes" name="imagenes" multiple accept="image/*"><br>

<script>
    document.getElementById('productoForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var producto = {
            codigo: document.getElementById('codigo').value,
            modelo: document.getElementById('modelo').value,
            marca: document.getElementById('marca').value,
            precio: document.getElementById('precio').value,
            descripcion: document.getElementById('descripcion').value,
            cantidad_almacen: document.getElementById('cantidad_almacen').value,
            esNovedad: document.getElementById('esNovedad').checked

        };

        // Añadir campos dinámicos al objeto producto
        var camposDinamicos = document.getElementsByClassName('dinamico');
        for (var i = 0; i < camposDinamicos.length; i++) {
            producto[camposDinamicos[i].id] = camposDinamicos[i].value;
        }

        var formData = new FormData();
        formData.append('formularioProducto', new Blob([JSON.stringify(producto)], {type: 'application/json'}));

        var imagenes = document.getElementById('imagenes').files;
        if (imagenes.length > 0) {
            for (var i = 0; i < imagenes.length; i++) {
                formData.append(`imagenes`, imagenes[i]);
            }
        } else {
            formData.append(`imagenes`, "");
        }

        fetch('http://tomcat.da2.dva:8080/admin/api/producto', {
            method: 'POST',
            body: formData
        })
    });

    function addCampo() {
        var nombreCampo = prompt("Por favor, introduce el nombre del campo:");
        if (nombreCampo) {
            var input = document.createElement("input");
            input.type = "text";
            input.id = nombreCampo;
            input.className = "dinamico";
            document.getElementById('productoForm').appendChild(document.createTextNode(nombreCampo + ": "));
            document.getElementById('productoForm').appendChild(input);
            document.getElementById('productoForm').appendChild(document.createElement("br"));
        }
    }
</script>

</body>
</html>