<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/head :: cabeza(titulo='${titulo}')"/>
    <body>
    <nav th:replace="~{fragments/nav :: barra_navegacion}"></nav>
    <nav th:replace="~{fragments/nav :: navegacion_pasos(paso='${paso}')}"></nav>
    <form action="#" method="post" th:object="${cliente}">  <!-- TODO: Implementar acción -->
        <div th:if="${#fields.hasErrors('global')}" class="error">
            <p th:each="error : ${#fields.errors('global')}" th:text="${error}" class="error" />
        </div>
        <input type="hidden" id="iteraciones" name="iteraciones" th:value="${iteraciones}"/>
        <fieldset th:replace="~{fragments/forms :: formularioPaso(${paso})}"></fieldset>
        <input type="submit" value="Enviar"/>
        <input type="reset" value="Restablecer"/>
        <input type="button" value="Vaciar Formulario" onclick="vaciarFormulario()"/>
    </form>
    <footer th:replace="~{fragments/footer :: barra_navegacion}"/>
    </body>
</html>