<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: cabeza(${titulo})}"/>
    <body>
    <nav th:replace="~{fragments/navs :: barra_navegacion}"></nav>
    <nav th:replace="~{fragments/navs :: navegacion_pasos(${paso})}"></nav>
    <div class="container registro-cliente">
        <div class="form-container registro-cliente">
            <form id="form" th:action="paso__${paso}__" method="post" th:object="${cliente}">  <!-- TODO: Implementar acción -->
                <div th:if="${#fields.hasErrors('global')}" class="error">
                    <p th:each="error : ${#fields.errors('global')}" th:text="${error}" class="error"></p>
                </div>
                <input type="hidden" id="iteraciones" name="iteraciones" th:value="${iteraciones}"/>
                <p th:text="${error}" class="error"></p>
                <fieldset th:replace="~{fragments/forms :: registroPaso__${paso}__}"></fieldset>

                <div class="form-buttons">
                    <div class="button-container">
                        <input type="reset" class="btn small" value="Restablecer"/>
                        <input type="button" class="btn small" value="Vaciar Formulario" onclick="vaciarFormulario()"/>
                    </div>
                    <input type="submit" class="btn submit" value="Enviar"/>
                </div>

            </form>
        </div>
    </div>


    <footer th:replace="~{fragments/footer :: pie_pagina}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    </body>
</html>