<nav th:fragment="pie_pagina">    <!-- TODO: Implementar barra de navegación -->
    <div class="footer-container">
        <ul class="footer-nav">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Conócenos</a></li>
            <li>
                <div >
                    <select id="language-select">
                        <option th:each="idioma: ${listaIdiomas}" th:text="${idioma.value}" th:value="${idioma.key}"/>
                    </select>
                </div>
            </li>
        </ul>
    </div>

</nav>