<fieldset th:fragment="registroPaso1">
    <legend th:text="#{leyenda.datosPersonales}"/>
    <div id="div_nombre">
        <span class="required">* </span><label for="nombre" th:text="#{etiqueta.nombre}"/>
        <input type="text" th:field="*{nombre}"/>
        <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
    <div id="div_apellidos">
        <span class="required">* </span><label for="apellidos" th:text="#{etiqueta.apellidos}"/>
        <input type="text" th:field="*{apellidos}"/>
        <div class="error" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></div>
    </div>
    <div id="div_genero">
        <div><span class="required">* </span><span id="lab_genero"  class="label"  th:text="#{etiqueta.genero}"/></div>

            <th:block th:each="genero, i: ${listaGeneros}">
                <div class="inputs-genero">
                    <input th:id="'rg' + ${i.index}" type="radio" th:field="*{genero}" th:value="${genero.key}" th:checked="${genero == genero.key}"/>
                    <label th:id="'lab_r' + ${i.index}" th:for="'rg' + ${i.index}">[[${genero.value}]]</label>
                </div>
            </th:block>

        <div class="error" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
        <input type="button" class="btn form" id="btn_deseleccionar_genero" value="Deseleccionar género" onclick="deseleccionarGenero()"/>
        <input type="button" class="btn form" id="btn_seleccionar_primer_genero" value="Selecciona el primer género" onclick="seleccionarPrimerGenero()"/>
    </div>
    <div id="div_fecha_nacimiento">
        <span class="required">* </span><label for="fechaNacimiento"  th:text="#{etiqueta.fechaNacimiento}"/>
        <input type="text" th:field="*{fechaNacimiento}"/>
        <div class="error" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
    </div>
    <div id="div_pais_nacimiento">
        <span class="required">* </span><label for="pais"   th:text="#{etiqueta.pais}"/>
        <select th:field="*{paisNacimiento}">
            <option th:each="pais: ${listaPaises}" th:value="${pais.key}">[[${pais.value}]]</option>
        </select>
        <div class="error" th:if="${#fields.hasErrors('paisNacimiento')}" th:errors="*{paisNacimiento}"></div>
        <input type="button" class="btn form" id="btn_deseleccionar_pais" value="Deseleccionar país" onclick="deseleccionarPais()"/>
    </div>
    <div id="div_documento_id">
        <div><span class="required">* </span><span id="lab_tipo_documento"  class="label"   th:text="#{etiqueta.tipoDocumento}"/></div>
        <div>
            <th:block th:each="tipo, i: ${listaTiposDocumentos}">
                <div class="inputs-tipo-documento">
                    <input th:id="'rd' + ${i.index}" type="radio" th:field="*{tipoDocumento}" th:value="${tipo.key}" th:checked="${tipoDocumento == tipo.key}"/>
                    <label th:id="'lab_r' + ${i.index}" th:for="'rd' + ${i.index}">[[${tipo.value}]]</label>
                </div>
            </th:block>
        </div>
        <div class="error" th:if="${#fields.hasErrors('tipoDocumento')}" th:errors="*{tipoDocumento}"></div>
        <input type="button" class="btn form" id="btn_deseleccionar_tipoDocumento" value="Deseleccionar tipo de documento" onclick="deseleccionarTipoDocumento()"/>
        <div><span class="required">* </span><label for="documento"   th:text="#{etiqueta.documento}"/></div>
        <input type="text" th:field="*{documento}"/>
        <div class="error" th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>
    </div>
</fieldset>

<fieldset th:fragment="registroPaso2">
    <legend th:text="#{leyenda.datosContacto}"/>
    <div id="div_telefono">
        <span class="required">*</span><label for="telefono"   th:text="#{etiqueta.telefono}"/>
        <input type="text" th:field="*{telefonoMovil}"/>
        <div class="error" th:if="${#fields.hasErrors('telefonoMovil')}" th:errors="*{telefonoMovil}"></div>
    </div>
    <div id="div_direccion_entrega">
       <div id="div_tipo_via">
           <span class="required">* </span><label for="tipo_via"   th:text="#{etiqueta.tipoVia}"/>
           <select th:field="*{direccion.tipo_via}">
               <option th:each="tipoVia: ${listaTiposVia}" th:value="${tipoVia.key}">[[${tipoVia.value}]]</option>
           </select>
           <div class="error" th:if="${#fields.hasErrors('direccion.tipo_via')}" th:errors="*{direccion.tipo_via}"></div>
       </div>
       <div id="div_nombre_via">
           <span class="required">* </span><label for="nombre_via"   th:text="#{etiqueta.nombreVia}"/>
           <input type="text" th:field="*{direccion.nombre_via}"/>
           <div class="error" th:if="${#fields.hasErrors('direccion.nombre_via')}" th:errors="*{direccion.nombre_via}"></div>
       </div>
       <div id="div_numero_via">
           <span class="required">* </span><label for="numero_via"   th:text="#{etiqueta.numeroVia}"/>
           <input type="text" th:field="*{direccion.numero_via}"/>
           <div class="error" th:if="${#fields.hasErrors('direccion.numero_via')}" th:errors="*{direccion.numero_via}"></div>
       </div>
       <div id="div_planta">
           <label for="planta"   th:text="#{etiqueta.planta}"/>
           <input type="text" th:field="*{direccion.planta}"/>
           <div class="error" th:if="${#fields.hasErrors('direccion.planta')}" th:errors="*{direccion.planta}"></div>
       </div>
        <div id="div_portal">
            <label for="portal"   th:text="#{etiqueta.portal}"/>
            <input type="text" th:field="*{direccion.portal}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.portal')}" th:errors="*{direccion.portal}"></div>
        </div>
        <div id="div_puerta">
            <label for="puerta"  th:text="#{etiqueta.puerta}"/>
            <input type="text" th:field="*{direccion.puerta}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.puerta')}" th:errors="*{direccion.puerta}"></div>
        </div>
        <div id="div_localidad">
            <span class="required">* </span><label for="localidad"  th:text="#{etiqueta.localidad}"/>
            <input type="text" th:field="*{direccion.localidad}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.localidad')}" th:errors="*{direccion.localidad}"></div>
        </div>
        <div id="div_region">
            <label for="region"  th:text="#{etiqueta.region}"/>
            <input type="text" th:field="*{direccion.region}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.region')}" th:errors="*{direccion.region}"></div>
        </div>
        <div id="div_cp">
            <span class="required">* </span><label for="cp"  th:text="#{etiqueta.cp}"/>
            <input type="text" th:field="*{direccion.cp}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.cp')}" th:errors="*{direccion.cp}"></div>
        </div>
        <div id="div_pais">
            <span class="required">* </span><label for="pais"  th:text="#{etiqueta.pais}"/>
            <input type="text" th:field="*{direccion.pais}"/>
            <div class="error" th:if="${#fields.hasErrors('direccion.pais')}" th:errors="*{direccion.pais}"></div>
            <div class="error" th:text="${pais}"></div>
        </div>
    </div>
</fieldset>

<fieldset th:fragment="registroPaso3">
    <legend  th:text="#{leyenda.datosCliente}"/>
    <div id="div_comentarios">
        <label for="comentarios"  th:text="#{etiqueta.comentarios}"/>
        <textarea th:field="*{comentarios}"></textarea>
    </div>
    <div id="div_licencia">
        <span class="required">* </span><label for="aceptacionLicencia"  th:text="#{etiqueta.licencia}"/>
        <input type="checkbox" th:field="*{aceptacionLicencia}"/>
        <div class="error" th:if="${#fields.hasErrors('aceptacionLicencia')}" th:errors="*{aceptacionLicencia}"></div>
        <div class="error" th:text="${aceptacionLicencia}"></div>
    </div>
</fieldset>

<fieldset th:fragment="registroPaso4">

    <legend>Revisión de datos</legend>
    <div class="resumen-container">
        <fieldset>
            <legend th:text="#{leyenda.datosPersonales}"/>
            <div class="resumen">
                <p th:text="'Nombre: ' + *{nombre}"></p>
                <p th:text="${nombre}" class="error"></p>
                <p th:text="'Apellidos: ' + *{apellidos}"></p>
                <p th:text="${apellidos}" class="error"></p>
                <p th:text="'Género: ' + *{genero}"></p>
                <p th:text="${genero}" class="error"></p>
                <p th:text="'Fecha de nacimiento: ' + *{fechaNacimiento}"></p>
                <p th:text="${fechaNacimiento}" class="error"></p>
                <p th:text="'Nacionalidad: ' + *{paisNacimiento}"></p>
                <p th:text="${paisNacimiento}" class="error"></p>
                <p th:text="'Tipo de documento: ' + *{tipoDocumento}"></p>
                <p th:text="${tipoDocumento}" class="error"></p>
                <p th:text="'Documento: ' + *{documento}"></p>
                <p th:text="${documento}" class="error"></p>
            </div>
        </fieldset>

        <fieldset>
            <legend th:text="#{leyenda.datosContacto}"/>
            <div class="resumen">
                <p th:text="'Teléfono móvil: ' + *{telefonoMovil}"></p>
                <p th:text="${telefonoMovil}" class="error"></p>
                <p th:text="'Tipo de vía: ' + *{direccion.tipo_via}"></p>
                <p th:text="${tipo_via}" class="error"></p>
                <p th:text="'Nombre de vía: ' + *{direccion.nombre_via}"></p>
                <p th:text="${nombre_via}" class="error"></p>
                <p th:text="'Número de vía: ' + *{direccion.numero_via}"></p>
                <p th:text="${numero_via}" class="error"></p>
                <p th:text="'Planta: ' + *{direccion.planta}"></p>
                <p th:text="${planta}" class="error"></p>
                <p th:text="'Puerta: ' + *{direccion.puerta}"></p>
                <p th:text="${puerta}" class="error"></p>
                <p th:text="'Portal: ' + *{direccion.portal}"></p>
                <p th:text="${portal}" class="error"></p>
                <p th:text="'Localidad: ' + *{direccion.localidad}"></p>
                <p th:text="${localidad}" class="error"></p>
                <p th:text="'Código postal: ' + *{direccion.cp}"></p>
                <p th:text="${cp}" class="error"></p>
                <p th:text="'Región: ' + *{direccion.region}"></p>
                <p th:text="${region}" class="error"></p>
                <p th:text="'País: ' + *{direccion.pais}"></p>
                <p th:text="${pais}" class="error"></p>
            </div>
        </fieldset>

        <fieldset>
            <legend th:text="#{leyenda.datosCliente}"/>
            <div class="resumen">
                <p th:text="'Comentarios: ' + *{comentarios}"></p>
                <p th:text="${comentarios}" class="error"></p>
                <p th:text="'Licencia: ' + *{aceptacionLicencia}"></p>
                <p th:text="${aceptacionLicencia}" class="error"></p>
            </div>
        </fieldset>

    </div>


</fieldset>

<div th:fragment="login1">
    <div id="div_usuario_login" class="input-container">
        <input type="text" id="usuario" name="usuario" class="input email-input" placeholder=" "/>
        <div class="cut"></div>
        <span th:if="${error != null}" th:text="${error}" class="error"/><br th:if="${error != null}">
        <label for="usuario" class="placeholder"   th:text="#{etiqueta.usuario}"/>
    </div>
</div>

<div th:fragment="login2">
    <div id="div_pass" class="input-container"  th:if="${fechaBloqueo} == null">
        <input type="password" id="clave" name="clave" class="input password-input" placeholder=" "/>
        <div class="cut"></div>
        <span th:if="${error != null}" th:text="${error}" class="error"/><br th:if="${error != null}">
        <label for="clave"  class="placeholder" th:text="#{etiqueta.clave}"/>
    </div>
    <div id="div_pass" th:if="${fechaBloqueo} != null">
        <h1 class="error" th:text="${mensajeBloqueo}"></h1>
    </div>
</div>