<fieldset th:fragment='registroPaso("1")'>
    <legend>Datos Personales</legend>
    <div id="div_nombre">
        <span class="required">* </span><label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}"/>
        <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
    <div id="div_apellidos">
        <span class="required">* </span><label for="apellidos">Apellidos</label>
        <input type="text" th:field="*{apellidos}"/>
        <div class="error" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></div>
    </div>
    <div id="div_genero">
        <span class="required">* </span><span id="lab_genero"  class="label">Género </span>
        <th:block th:each="genero, i: ${listaGeneros}">
            <label th:id="'lab_r' + ${i.index}" th:for="'r' + ${i.index}">[[${genero.value}]]</label>
            <input th:id="'r' + ${i.index}" type="radio" th:field="*{genero}" th:value="${genero.key}" th:checked="${genero == genero.key}"/>
        </th:block>
        <div class="error" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
        <input type="button" id="btn_deseleccionar_genero" value="Deseleccionar género" onclick="deseleccionarGenero()"/>
        <input type="button" id="btn_seleccionar_primer_genero" value="Selecciona el primer género" onclick="seleccionarPrimerGenero()"/>
    </div>
    <div id="div_fecha_nacimiento">
        <span class="required">* </span><label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="text" th:field="*{fechaNacimiento}"/>
        <div class="error" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
    </div>
    <div id="div_pais_nacimiento">
        <span class="required">* </span><label for="pais">Pais de Nacimiento</label>
        <select th:field="*{pais}">
            <option th:each="pais: ${listaPaises}" th:value="${pais.key}">[[${pais.value}]]</option>
        </select>
        <div class="error" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
        <input type="button" id="btn_deseleccionar_pais" value="Deseleccionar país" onclick="deseleccionarPais()"/>
    </div>
    <div id="div_documento_id">
        <span class="required">* </span><span id="lab_tipo_documento"  class="label">Tipo de Documento </span>
        <th:block th:each="tipo, i: ${listaTiposDocumentos}">
            <label th:id="'lab_r' + ${i.index}" th:for="'r' + ${i.index}">[[${tipo.value}]]</label>
            <input th:id="'r' + ${i.index}" type="radio" th:field="*{tipoDocumento}" th:value="${tipo.key}" th:checked="${tipoDocumento == tipo.key}"/>
        </th:block>
        <div class="error" th:if="${#fields.hasErrors('tipoDocumento')}" th:errors="*{tipoDocumento}"></div>
        <input type="button" id="btn_deseleccionar_tipoDocumento" value="Deseleccionar tipo de documento" onclick="deseleccionarTipoDocumento()"/>
        <span class="required">* </span><label for="documento">Documento</label>
        <input type="text" th:field="*{documento}"/>
        <div class="error" th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>
    </div>
</fieldset>

<fieldset th:fragment="registroPaso(2)">
    <legend>Datos de Contacto</legend>
    <div id="div_telefono">
        <span class="required">* </span><label for="telefono">Teléfono Móvil</label>
        <input type="text" th:field="*{telefonoMovil}"/>
        <div class="error" th:if="${#fields.hasErrors('telefonoMovil')}" th:errors="*{telefonoMovil}"></div>
    </div>
    <div id="div_direccion_entrega">
       <div id="div_tipo_via">
           <span class="required">* </span><label for="tipo_via">Tipo de vía</label>
           <select th:field="*{direccionEntrega.tipo_via}">
               <option th:each="tipoVia: ${listaTiposVias}" th:value="${tipoVia.key}">[[${tipoVia.value}]]</option>
           </select>
           <div class="error" th:if="${#fields.hasErrors('direccionEntrega.tipo_via')}" th:errors="*{direccionEntrega.tipo_via}"></div>
       </div>
       <div id="div_nombre_via">
           <span class="required">* </span><label for="nombre_via">Nombre de vía</label>
           <input type="text" th:field="*{direccionEntrega.nombre_via}"/>
           <div class="error" th:if="${#fields.hasErrors('direccionEntrega.nombre_via')}" th:errors="*{direccionEntrega.nombre_via}"></div>
       </div>
       <div id="div_numero_via">
           <span class="required">* </span><label for="numero_via">Número de vía</label>
           <input type="text" th:field="*{direccionEntrega.numero_via}"/>
           <div class="error" th:if="${#fields.hasErrors('direccionEntrega.numero_via')}" th:errors="*{direccionEntrega.numero_via}"></div>
       </div>
       <div id="div_planta">
           <label for="planta">Planta</label>
           <input type="text" th:field="*{direccionEntrega.planta}"/>
           <div class="error" th:if="${#fields.hasErrors('direccionEntrega.planta')}" th:errors="*{direccionEntrega.planta}"></div>
       </div>
        <div id="div_portal">
            <label for="portal">Portal</label>
            <input type="text" th:field="*{direccionEntrega.portal}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.portal')}" th:errors="*{direccionEntrega.portal}"></div>
        </div>
        <div id="div_puerta">
            <label for="puerta">Puerta</label>
            <input type="text" th:field="*{direccionEntrega.puerta}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.puerta')}" th:errors="*{direccionEntrega.puerta}"></div>
        </div>
        <div id="div_localidad">
            <span class="required">* </span><label for="localidad">Localidad</label>
            <input type="text" th:field="*{direccionEntrega.localidad}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.localidad')}" th:errors="*{direccionEntrega.localidad}"></div>
        </div>
        <div id="div_region">
            <span class="required">* </span><label for="region">Región/Comunidad Autónoma/Estado</label>
            <input type="text" th:field="*{direccionEntrega.region}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.region')}" th:errors="*{direccionEntrega.region}"></div>
        </div>
        <div id="div_cp">
            <span class="required">* </span><label for="cp">Código Postal</label>
            <input type="text" th:field="*{direccionEntrega.cp}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.cp')}" th:errors="*{direccionEntrega.cp}"></div>
        </div>
        <div id="div_pais">
            <span class="required">* </span><label for="pais">País</label>
            <input type="text" th:field="*{direccionEntrega.pais}"/>
            <div class="error" th:if="${#fields.hasErrors('direccionEntrega.pais')}" th:errors="*{direccionEntrega.pais}"></div>
        </div>
    </div>
</fieldset>

<fieldset th:fragment="registroPaso(3)">
    <legend>Datos de Cliente</legend>
    <div id="div_comentarios">
        <label for="comentarios">Comentarios</label>
        <textarea th:field="*{comentarios}"></textarea>
    </div>
    <div id="div_licencia">
        <span class="required">* </span><label for="aceptacionLicencia">Licencia</label>
        <input type="checkbox" th:field="*{aceptacionLicencia}"/>
        <div class="error" th:if="${#fields.hasErrors('aceptacionLicencia')}" th:errors="*{aceptacionLicencia}"></div>
    </div>
</fieldset>

<!--//<fieldset th:fragment="registroPaso(4)">
    <legend>Revisión de datos</legend>
    <fieldset th:replace="~{fragments/forms :: registroPaso(1)}"></fieldset>
    <fieldset th:replace="~{fragments/forms :: registroPaso(2)}"></fieldset>
    <fieldset th:replace="~{fragments/forms :: registroPaso(3)}"></fieldset>
</fieldset>-->

<div th:fragment='login("1")'>
    <div id="div_usuario">
        <span class="required">* </span><label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario"/>
        <span th:if="${error != null}" th:text="${error}" class="error"/><br th:if="${error != null}">
    </div>
</div>

<div th:fragment="login(2)">    <!-- TODO: comprobar los errores -->
    <div id="div_pass" th:if="${fechaBloqueo} != null">
        <span class="required">* </span><label for="clave">Contraseña</label>
        <input type="password" id="clave" name="clave"/>
        <span th:if="${error != null}" th:text="${error}" class="error"/><br th:if="${error != null}">
    </div>
    <div id="div_pass" th:if="${fechaBloqueo} == null">
        <h1 class="error" th:text="${mensajeBloqueo}"></h1>
    </div>
</div>