<head th:fragment="cabeza(titulo)"> <!-- TODO: Implementar CSS y JS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${titulo}"/>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/tarjeta.css}" th:if="${titulo} == 'Tarjeta de Crédito'"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <!--   <script type="text/javascript" th:src="@{/js/script.js}"></script> -->
</head>