<nav th:fragment="barra_navegacion" class="barra_navegacion">    <!-- TODO: Implementar barra de navegación -->
    <div class="menu_container">
        <header class="header">
            <a href="http://apache.da2.dva/" class="logo"><img src="logo.png"/> </a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            <ul class="menu">
                <li><a href="http://apache.da2.dva/productos">Cátalogo de Productos</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="http://tomcat.da2.dva:8080/registro/cliente/paso1">Registro</a></li>
                <li><a href="http://tomcat.da2.dva:8080/login/paso1">Login</a></li>
            </ul>
        </header>
    </div>
</nav>

<nav th:fragment="navegacion_pasos(paso)" class="barra_pasos">    <!-- TODO: Implementar barra de navegación -->
    <ul>
        <a href="paso1" title="Paso 1 (Datos Personales)" >
            <div class="enlace_img">
                <img id="numero-1" alt="imagen paso 1" th:src="@{/img/numeros/numero-1.png}" width="45" height="45" />
                <span>Datos Personales</span>
            </div>
        </a>
        <a href="paso2" title="Paso 2 (Datos de Contacto)">
            <div class="enlace_img">
                <img id="numero-2" alt="imagen paso 2" th:src="@{/img/numeros/numero-2.png}" width="45" height="45" />
                <span>Datos de Contacto</span>
            </div>
        </a>
        <a href="paso3" title="Paso 3 (Datos de Cliente)" >
            <div class="enlace_img">
                <img id="numero-3" alt="imagen paso 3" th:src="@{/img/numeros/numero-3.png}" width="45" height="45" />
                <span>Datos de Cliente</span>
            </div>
        </a>
        <a href="paso4" title="Paso 4 (Resumen Final)" >
            <div class="enlace_img">
                <img id="numero-4" alt="imagen paso 4" th:src="@{/img/numeros/numero-4.png}" width="45" height="45" />
                <span>Resumen Final</span>
            </div>
        </a>
    </ul>
</nav>