<nav th:fragment="barra_navegacion" class="barra_navegacion">    <!-- TODO: Implementar barra de navegación -->
    <div class="menu_container">
        <header class="header">
            <a href="#" class="logo"><img src="logo.png"/> </a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            <ul class="menu">
                <li><a href="#">Cátalogo de Productos</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Cuenta de Usuario</a></li>
                <li><a href="#">Desconexión</a></li>
            </ul>
        </header>
    </div>
</nav>

<nav th:fragment="navegacion_pasos(paso)" class="barra_pasos">    <!-- TODO: Implementar barra de navegación -->
    <ul>
        <a href="paso1" title="Paso 1 (Datos Personales)" class="enlace_img">
            <img alt="imagen paso 1" th:src="@{/imgs/paso1.png}" width="75" height="75" />
        </a>
        <a href="paso2" title="Paso 2 (Datos de Contacto)" class="enlace_img visitando">
            <img alt="imagen paso 2" th:src="@{/imgs/paso2.png}" width="75" height="75" />
        </a>
        <a href="paso3" title="Paso 3 (Datos de Cliente)" class="enlace_img">
            <img alt="imagen paso 3" th:src="@{/imgs/paso3.png}" width="75" height="75" />
        </a>
        <a href="paso4" title="Paso 4 (Resumen Final)" class="enlace_img">
            <img alt="imagen paso 4" th:src="@{/imgs/paso4.png}" width="75" height="75" />
        </a>
    </ul>
</nav>