
/*LOGIN*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    padding: 40px;
    margin-top:150px;
}

.login-container .img-container  {
    background-image: url("../img/login-email.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex:1;
    height: 100%;
    min-width: 300px;

}

.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    margin:0;
    gap:30px;
}

#div_usuario_login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 51em) {

    .login-container {
        flex-direction: row;
        gap: 1em;
        height: 500px;
        width: 100%;
        max-width: 55%;
        min-width: 710px;
    }
}
